.progress {
  height: 2px;
  border-radius: 10px;
  background-color: #cce7c2;
  position: relative;
  overflow: hidden;
  &.active {
    .progress__indicator {
      width: 100%;
     
    }
  }
}

.progress__indicator {
  position: absolute;
  background-color: #31AE54;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: 5s;
}