.user {
  display: flex;
  align-items: center;
  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
  }
  &__type {
    font-size: 12px;
  }
  &__avatar {
   width: 44px;
    height: 44px; 
    margin-right: 14px;
  }
}