.controls {
display: flex;
}
.controls__icon {
  width: 14px;
  height: 14px;
  color: #586069;
  margin-right: 5px;
}

.controls__frame {
  display: flex;
  align-items: center;
  padding: 5px 13px;
  border-right: 1px solid rgba(27, 31, 35, 0.15);
  &:last-child {
    border-right: none;
  }
}

.controls__star {
  font-weight: 400;
  font-size: 14px;
  
}

.controls__fork {
font-weight: 600;
font-size: 12px;

}
