.users-list {
display: flex;
justify-content: space-between;
}
.users-item {
  margin-right: 43px;

}
.users-item:last-child {
  margin-right: 0;
}
.logo {
  width: 175px;
  color: #292929;
}
.home {
  width: 24px;
  margin-right: 28px;
}
.logout {
  width: 25px;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-feed {
  width: 1000px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider__list {
  display: 	inline-flex;
}

.slider__temporary {
  background-color: #292929;
}